body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

#app {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.checkpoint {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.checkpoint-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0px;
	margin-top: 10px;
    font-weight: bold;
}

.route-title {
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
	margin-top: 50px; /* 上マージンを10px */
    margin-bottom: 0px; /* 下マージンを5px */
	text-align: left;
}

/*.checkpoint-image, .route-image {
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
    border-radius: 5px;
}*/

.arrival-button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.arrival-button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .checkpoint-title, .route-title {
        font-size: 1.3em;
    }

    .arrival-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}
#map-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* 描画領域を超える部分を隠す */
}

#map {
    width: 100%;
    height: 100%;
}

/*<!-- 以下藤原が追加 */

.checkpoint-image, .route-image {
    width: 100%; /* 親要素に合わせる */
    max-width: 100%; /* 横幅を親要素に制限 */
    height: auto; /* 画像の縦横比を維持 */
    display: block; /* ブロック要素として配置 */
    margin-left: auto; /* 左側の余白を自動調整 */
    margin-right: auto; /* 右側の余白を自動調整 */
	margin-bottom: 5px; /*画像したの余白を調整*/
    border-radius: 5px; /* 角丸設定 */
	margin-top: 0px;
}

.route-navi {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 30;
}